[submodule "sources/shadcn-vue"]
	path = sources/shadcn-vue
	url = https://github.com/unovue/shadcn-vue
[submodule "vendor/mattpocock"]
	path = vendor/mattpocock
	url = https://github.com/mattpocock/skills
